/* YeyeYeee código aquí */
@media screen and (max-width: 552px) {
    /* start of phone styles */
	body {
		background-color:#3E3F41; 
		font-family: 'Roboto', sans-serif;
	}
	.col-5{
		margin-top: 20%;
    margin-left: 27%;
	}
	#body_container{
		margin-top: 20%;
	}
	#logo_img{
		text-align: center; 
	}
	#mail_input{
		width: 279px;
		height: 54px;
		color: rgb(0, 0, 0, 0.43); 
		font-size: 12px;
		text-align: center;
	}
	#password_input{
		width: 279px;
		height: 54px;
		color: rgb(0, 0, 0, 0.43); 
		font-size: 12px;
		text-align: center;
	}
	#login_button{
		width: 279px;
		height: 54px;
		background-color: #F6A800;
		color: #3E3F41;
		text-align: center;
		font-size: 18px; 
		border-width: 0;
	}
	#textlogin_container{
		color: 	#FFFFFF; 
		font-size: 13px; 
	}
	#bottom_text{
		margin-left: 10%; 
		margin-top: 18%;
	}
	#singUp{
		color: #F6A800;
		font-size: 16px; 
		font-style: Bold, Regular; 
	}
	/*Inicio estilo home*/
	.body_content{
		background-color: #DDDEE0;
		height: 548px;
	}
	.big_button{
		background-color: #F6A800;
		color: #DDDEE0;
		border-width: 0;
		display: block;
		width: 297px;
		height: 42px;
		position: absolute;
		left: 13px;
		
	}
	#showAcount_button{
		top: 199px;
	}
	#calculate_button{
		top: 254px;
	}
	#profile_button{
		top: 306px;
	}
	#question_button{
		top: 358px;
	}


/*Inicio estilo profile */	
	#userPicture_container{
		position: absolute;
		left: 0px;
		top:40px; 
		height: 182px;
		background-color: #F6A800;
	}
	#userImage{
		border-radius: 50%;
		margin-left: 70px;
		margin-top: 15px;
		width: 161px;
		height: 153px;
	}
	#show_mail_container{
		position: absolute;
		width: 242px;
		height: 33px;
		left: 39px;
		top: 264px;
		text-align: center;
		font-family: Roboto;
		font-size: 14px;
		letter-spacing: 0.04em;
		color: rgba(0, 0, 0, 0.7);
		opacity: 0.9;
		background: #FFFFFF;
	}
	.cardNumber_input{
		border-bottom: rgba(0, 0, 0, 0.5);
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 12px;
		letter-spacing: 0.04em;
		color: rgba(0, 0, 0, 0.5);
		border-bottom-width:  1px;
    background-color: #DDDEE0;
	}
	#cardNumber_input_profile{
		position: absolute;
		top: 322px;
		left: 40px;
		width: 242px;
		height: 20px;
	}
	#addCard_button{
		display: block;
		position: absolute;
		width: 242px;
		height: 36px;
		left: 40px;
		top: 356px;
		background-color: #F6A800;
		color: #FFFFFF;
		font-size: 18px;
		letter-spacing: 0.04em;
		border: 0px;
	}
	#card_container{
		position: absolute;
		top: 405px;
		display: block;

	}
	.cardNumber{
		display: block;
		position: absolute;
		width: 245px;
		height: 24px;
		left: 37px;
		letter-spacing: 0.04em;
		font-size: 12px;
		color: rgba(0, 0, 0, 0.6);
		background-color: #FFFFFF;
	}
	#card2{
		top: 30px;
	}
	#card3{
		top: 60px;
	}
	#card4{
		top: 90px;
	}

	/* INICIO ESTILO HOJA Calculate*/
  #cardNumber_input_calculate{
		position: absolute;
		left: 16px;
		top: 100px;
		width: 281px;
	}
	#option1{
		position: absolute;
		width: 151px;
		height: 25px;
		left: 13px;
		top: 172px;
		background-color: #FFFFFF;	
	}
	#option2{
		position: absolute;
		width: 151px;
		height: 25px;
		left: 160px;
		top: 172px;
		background-color: #FFFFFF;		
	}
	#calculate_button{
		position: absolute;
		width: 134px;
		height: 24px;
		left: 95px;
		top: 219px;
		background-color: #F6A800;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		line-height: normal;
		font-size: 18px;
		letter-spacing: 0.04em;		
		color: #FFFFFF;	
		border: 0em;			
	}
	.top{
		background-color: #3E3F41;
		height: 27px;
		text-align: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		line-height: normal;
		font-size: 11px;
		letter-spacing: 0.04em;		
		color: #FFFFFF;		
	}
	.numbers{
		width: 253px;
		height: 104px;	
		background-color: #F6A800;
		text-align: center;
		display: table-cell;
    vertical-align: middle;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		line-height: normal;
		font-size: 30px;
		letter-spacing: 0.04em;		
		color: #FFFFFF;			
	}
	#show_cost{
		position: absolute;
		width: 253px;
		height: 104px;
		left: 33px;
		top: 275px;	
	}
	#show_result{
		position: absolute;
		width: 253px;
		height: 104px;
		left: 33px;
		top: 411px;
		
	}
}
